.hello-title{
    color: darkgreen;
}
.classicTable {
    border: 1px solid black;
    width: 100%;
}
.classicTable td {
    border: 1px solid black;
}
.img_hero {
    height: 50px;
}
.card {
    text-align: center;
}
.card_img, .card_desc {
    display: inline-block;
    width: 45%;
    padding: 10px;
}
.card_img_hero {
    width: 100%;
}
